* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #CDB380;
    --text-color: #036564;
    --background-button: black;
    --color-button-init: white;
    --color-button-hover: white;
}

.dark-theme {
    --background-color: #031634;
    --text-color: #E8DDCB;
    --background-button: white;
    --color-button-init: white;
    --color-button-hover: black;
}

html {
    font-family: sans-serif;
}

body {
    background-color: var(--background-color);
    transition: .5s all ease-in;
}

header {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

header button {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: unset;
    border-radius: .5rem;
    border: none;
    transition: all .3s ease-in;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-button-init)
}

header button:hover {
    background-color: var(--background-button);
    color: var(--color-button-hover);
}

h1 {
    font-size: 4rem;
    color: var(--text-color);
}

main {
    width: 1440px;
    margin: 0 auto;
    padding-top: 1rem;
}

main p {
    text-align: center;
    font-size: 2rem;
    color: var(--text-color);
    font-weight: bold;
}


